* {
    border: none;
    border-radius: 0;
    font-family: "jetbrainsmononerdfont";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#workspaces {
    background-color: #282c34;
    margin: 5px;
    border-radius: 5px;
}

#workspaces button {
    padding: 0 10px;
    color: #abb2bf;
}

#workspaces button.focused {
    color: #21252b;
    background-color: #abb2bf;
    border-radius: 5px;
}

#workspaces button:hover {
    background-color: #393f4a;
    border-radius: 5px;
}

#clock, #pulseaudio, #tray, #battery {
    color: #abb2bf;
    background-color: #282c34;
    padding: 0px 10px;
    margin: 5px 0px;
}

#mode {
    color: #21252b;
    background-color: #abb2bf;
    padding: 0px 10px;
    margin: 5px 0px;
    border-radius: 5px;
}

#custom-power {
    color: #21252b;
    background-color: #abb2bf;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 0px 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#pulseaudio {
    border-radius: 5px 0px 0px 5px;
}
